version: "3.9"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.docker.env
    environment:
      DOCKER_ENV: "true"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: serenite_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d serenite_db"]
      interval: 5s
      timeout: 5s
      retries: 5
